@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -ms-transform: $transform;
}