@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";


.buttons-holder {
  text-align: center;
  margin: $padding*2 0;
  button {
    width: 200px;
    margin: $padding;
    padding: $padding;
    font-family: $font;
    font-size: 18px;
    color: $textColor;
    background: $headerBg;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }
  .fa {
    padding-right: 5px;
  }
}