@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.content {
  .wrap-pizza {
    padding: $padding*3;
    background: $pizzaBaseBg;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    @include border-radius(100%);
    position: relative;
  }
  .pizza-base {
    position: relative;
    width: 600px - $padding*3*2;
    height: 600px - $padding*3*2;
    overflow: hidden;
    @include border-radius(100%);

    >div {
      position: absolute;
    }
  }
}

.pizza-part {
  cursor: pointer;

  span {
    font-family: $font;
    color: $textColor;
    top: 50%;
    left: 45%;
    position: absolute;
  }
}

.topping-item-1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include border-radius(100%);
}

.topping-item-2{
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
}

.half-right {
  @include transform(rotate(180deg));
}

.topping-item-3, .topping-item-4 {
  width: 50%;
  height: 50%;
  transform-origin: 100% 100%;
}

.topping-item-3 > div {
  width: 100%;
  height: 100%;
  position: absolute;

  &.second-part {
    transform-origin: 100% 100%;
    @include transform(rotate(30deg));
  }
}

.third-left {
  @include transform(rotate(30deg));
}

.third-bottom {
  @include transform(rotate(150deg));
}

.third-right {
  @include transform(rotate(270deg));
}

.right-top {
  @include transform(rotate(90deg));
}

.left-bottom {
  @include transform(rotate(180deg));
}

.right-bottom {
  @include transform(rotate(270deg));
}
